/* you can change any of the default styles below */

@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

Header {
  border: 2px solid #929087;
}

body {
  font-family 'Montserrat';
}

* {
  margin: 0px;
  padding: 2px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 10px;
}

ul {
  list-style-type: none;
  width: 250px;
}

nav:visited {
  color: #828282;
}

main {
  background-color: #F8F4E3;
  height: 100vh;
}

p {
  color: #2A2B2A;
  font-size: 1.8rem;
}

img {
  max-width: 400px;
}

div {
  border: 2px solid #929087;
  border: fit-content;
}